[submodule ".config/zsh/plugin/vcs"]
	path = .config/zsh/plugins/vcs
	url = https://github.com/yonchu/zsh-vcs-prompt
[submodule ".config/plugins/fasd"]
	path = .config/zsh/plugins/fasd
	url = https://github.com/clvv/fasd.git
[submodule ".config/zsh/plugins/zsh-interactive-cd"]
	path = .config/zsh/plugins/zsh-interactive-cd
	url = https://github.com/changyuheng/zsh-interactive-cd.git
